<a href="https://colab.research.google.com/github/IEXE-Tec/computo-datos-masivos/blob/master/06_R_Sagemaker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a R

El manual completo para el lenguaje R se encuentra en: https://cran.r-project.org/doc/manuals/r-release/R-intro.pdf

Para conocer las demas formas de ejecutar codigo de R en Colab, puedes revisar el siguiente articulo:   
https://towardsdatascience.com/how-to-use-r-in-google-colab-b6e02d736497

Veamos que version de R tenemos en nuestro Colab

In [2]:
R.version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          0.3
year           2020
month          10
day            10
svn rev        79318
language       R
version.string R version 4.0.3 (2020-10-10)
nickname       Bunny-Wunnies Freak Out

Para acceder a la documentacion de laguna funcion podemos utilizar la funcion  `help`.

In [3]:
help('print')

## Listas

Creemos una lista que contenga los valores del 1 al 1000.  
A diferencia de python las secuencias incluyen la cabeza y la cola. Observa como la siguiente secuencia va de 1 a 100.

In [8]:
a = 1:100
print(a)

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

La funcion class nos indica que tipo de datos tiene la lista a. En este caso es integer.

In [11]:
class(a)

[1] "integer"

**Indexing**  
**A diferencia de python, R usa indices que empiezan en 1** Puedes, pensar en en los arrays como vectores o matrices.

In [9]:
a[0]

integer(0)

In [10]:
a[1]

[1] 1

In [33]:
a[2:3]

[1] 6 7

**c** La funcion c en R es la forma clasica de crear listas

In [34]:
x = c(1, 5, 6)
print(x)

[1] 1 5 6
[1]  5  9 10

Las listas pueden contener varios tipos de datos. Observa como en la siguiente celda los integers son convertidos a caracteres.

In [40]:
class(c(1, 3, "a"))

[1] "character"

## Slicing
En R podemos usar vectores para hacer slicing de las listas. Parecido al iloc y el index que utilizamos en pandas. Puedes pensar a las listas como un vector.

In [37]:
x = 1:10
a = c(1, 5, 10)
print(x[a])
print(x[c(1, 10, 7)])

[1]  1  5 10
[1]  1 10  7

**Abstraccion de listas** En R las listas son parecidos a los vectores, y los dataframes como matrices. Por ello sus indices comienzan en 1, y podemos hacer slicing con listas que contengan los indices que queremos utilizar.

## For & Print
A diferencia de python, R no utiliza identacion para definir loops o condicionales. Estos bloques de codigo estan definicos por los parentesis `(){}`. 
+ `()` Define la parde condicional o el iterador.
+ `{}` Define el bloque de codigo que se ejecutara.

In [13]:
a = 5:10
for (i in a){
print(i)
}

[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

`paste` es una funcion que concatena/pega strings. Tambien podriamos hacer uso de la funcion `sprintf` que tiene una sintaxis parecida a la forma de imprimir de python.

In [31]:
for (i in 1:length(a)){
  print(paste("El indice ", i, " del array a contiene el valor", a[i]))
}

[1] "El indice  1  del array a contiene el valor 5"
[1] "El indice  2  del array a contiene el valor 6"
[1] "El indice  3  del array a contiene el valor 7"
[1] "El indice  4  del array a contiene el valor 8"
[1] "El indice  5  del array a contiene el valor 9"
[1] "El indice  6  del array a contiene el valor 10"

Al igual que python podemos iterar sobre las listas.

In [38]:
for (i in c(1,3 , "ax")){
  print(i)
}

[1] "1"
[1] "3"
[1] "ax"

## While & <-

`while` funcionan igual que en python, y siguen la misma estructura que el `for`. Observa como la identacion no afecta.

In [45]:
y <- 1
while( y < 5){
  print(y)
y = y + 1
}

[1] 1
[1] 2
[1] 3
[1] 4

En R es comun observar el operador `<-` que en general es identico a `=`, de hecho es mas normal observar la flecha. La documentacion de R indica que `=` solo puede usarse en el top-level del `codigo`, pero es falso como podemos ver en el siguiente ejemplo.

In [44]:
sum((x = 1), 2)

[1] 3

En general, `<-` lo usamos para asignar valores para objetos y funciones, y el igual para comparaciones booleanas o funciones de jerarquia diferente.

## If & Anidados

`if` funciona igual que `for` y `while`. Observa como podemos anidar clausulas de flujo, y limitar su jerarquia con los parentesis `{}`

In [47]:
x <- 6
if (x > 5){
print('Inicia for Loop')
  for(i in c("a",2,3,5)){
    print(i)
  }
x <- 4
}

print(x)

[1] "Inicia for Loop"
[1] "a"
[1] "2"
[1] "3"
[1] "5"
[1] 4

## Funciones

La sintaxis para definir una funcion es la siguiente:
``` nombre_funcion <- function(arg1, arg2,...,argn){  ... return(valor_de_retorno) }```

Definamos la funcion suma

In [52]:
suma <- function(a,b){
  s <- a + b
  return (s)
}

In [53]:
suma(3,4)

[1] 7

Tambien podemos omitir el keyword **return**, y por default regresara el ultimo valor/operacion calculada.

In [62]:
resta <- function(a, b){
  s <- a-b
}

In [65]:
z <- resta(4,3)
z

[1] 1

## Funciones vectoriales

A diferencia de python, las funciones de R extrapolan los inputs vectoriales a funciones de manera nativa.

In [74]:
z <- suma(c(4,5), c(1,2))
print(z)
print(z[1])
print(z[2])

[1] 5 7
[1] 5
[1] 7

In [71]:
class(z)

[1] "numeric"

**Que pasa si los inputs no tienen las dimensiones correctas?**

In [76]:
z <- suma(c(4,5,-1), c(1,2))
print(z)

Warning message in a + b:
“longer object length is not a multiple of shorter object length”

[1] 5 7 0

Nos manda un `warning` y extrapola la dimension faltante repitiendo los valores del vector con dimension menor, respetando el orden. En nuestro caso dado que `c(1,2)` tiene una dimension menos que `c(4,5-1)` R realiza la operacion con `c(1,2,1)`. Veamos otro ejemplo.

In [77]:
z <- suma(c(4,5,-1,0), c(1,2))
print(z)

[1] 5 7 0 2

Lo mismo pasa cuando aplicamos operaciones a las listas, pero **no se emite el warning**.

In [79]:
z <- c(4,5,-1,0) + c(1,2)
print(z)

[1] 5 7 0 2